<div id="sidebar" class="sidebar">
  <div class="main-header-content inner">
    <p class="nippy-title">{{@blog.title}}</p>
    <p class="nippy-description">{{@blog.description}}</p>
  </div>
  <div class="navigation">
    {{navigation}}
  </div>
  <div class="nippy-pagination hidden-xs">
    {{pagination}}
  </div>

  <div class="visible-xs-12 hidden-sm hidden-md hidden-lg">
    <hr>
  </div>
</div>
