{{!< default}}

<main class="nippy-index">
  {{> "sidebar"}}
  <div id="content" class="content container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-11">
        <h1>Blog</h1>
      </div>
    </div>
    {{> "loop"}}
  </div>
</main>
