{{!< default}}

<main class="nippy-index">
  {{> "sidebar"}}
  <div id="content" class="content container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-11">
        <h4>Blog</h4>
      </div>
    </div>
    {{> "loop"}}
    <div class="nippy-pagination visible-xs-12 hidden-sm hidden-md hidden-lg">
      {{pagination}}
    </div>
  </div>
</main>
