{{!< default}}
<main class="nippy-index">
  {{> "sidebar"}}
  <div id="content" class="content container">
    {{#tag}}
      <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
          <h4>{{name}}</h4>
          <p style="font-weight: lighter">
            {{description}}
          </p>
        </div>
      </div>
    {{/tag}}
    {{> "loop"}}
    <div class="nippy-pagination visible-xs-12 hidden-sm hidden-md hidden-lg">
      {{pagination}}
    </div>
  </div>
</main>
