{{!< default}}
<main class="nippy-index">
  {{> "sidebar"}}
  <div id="content" class="content container">
    {{#tag}}
      <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
          <h1>{{name}}</h1>
          <p style="font-weight: lighter">
            {{description}}
          </p>
        </div>
      </div>
    {{/tag}}
    {{> "loop"}}
  </div>
</main>
